.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100vh;
  width: 100vw;
}

.mainholder {
  background-color: white;
  box-shadow: #e2eaf4 0px 5px 60px;
  border-radius: 10px;
  overflow: hidden;
}

.nav {
  background: #244265;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
}

.nav h1 {
  font-size: 21px;
  font-weight: bold;
  color: white;
}

.nav h1 span {
  font-weight: normal;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.activeTab {
  opacity: 1;
  box-shadow: inset 0px -3px 0px #fc884b;
}

.tabs p {
  padding: 20px;
  color: white;
  font-size: 14px;
}

.tabs p:hover {
  cursor: pointer;
  opacity: 1;
}

.content {
  padding: 35px;
}

.inputholder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding-bottom: 35px;
  margin-bottom: 35px;
  border-bottom: 1px solid #eef3f9;
}

.inputholderbottom {
  margin-bottom: unset;
  border: unset;
}

.button {
  border-radius: 5px;
  padding: 10px 70px;
  background-color: #fc884b;
  border: none;
  font-size: 15px;
  color: white;
}

.button:hover {
  cursor: pointer;
  background-color: #dd7239;
}

.response {
  max-width: 870px;
}

.title {
  text-transform: uppercase;
  font-size: 14px;
  color: #dd7239;
  margin-bottom: 5px;
}

.text {
  font-size: 15px;
  line-height: 24px;
  color: #244265;
}

.blogPostLink {
  padding: 10px 0;
  grid-area: bottom;
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.githubLink {
  text-align: center;
  color: #1d2134;
  text-decoration: underline;
  font-size: 14px;
}

.wizardLink {
  color: black;
  text-decoration: none;
}
